* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#menu-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  height: 90px;
  width: 100vw;
}

#menu-1-2 {
  margin: 0 0 0 30px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

#menu-1,
#menu1-2 {
  background-color: white;
}

#menu-1-2 span {
  color: #7c7c7c;
}

.itens-menu-1-2 {
  margin: 0 0 0 30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.itens-menu-1-2:hover {
  box-shadow: 0 0 5px #b1b1b1;
  border-radius: 10px;
}

.angulo-black {
  width: 12px;
  height: 12px;
}

#menu-1-2-icon {
  height: 38px;
  width: 38px;
}

#logo {
  height: 55px;
  width: 200px;
  margin: 0 0 0 105px;
}

#searchbox {
  margin: 0 0 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 400px;
  height: 45px;
  box-shadow: 0 0 5px #b1b1b1;
  border-radius: 5px;
}

#busca {
  background-color: transparent;
  border: none;
  width: 320px;
  font-size: 15px;
  font-weight: 600;
  color: #b1b1b1;
}

#lupa {
  margin: 0 0 0 20px;
  height: 20px;
  width: 20px;
}

#menu-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(231, 0, 38);
  height: 100px;
  width: 100vw;
  box-shadow: 0 6px 10px #b1b1b1;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 40px 0 0;
  gap: 5px;
  color: white;
  font-weight: 600;
}

.pngs {
  height: 38px;
  width: 38px;
}

#hamburguer {
  background: rgb(232, 25, 59);
  border-radius: 10px;
  box-shadow: 0 6px 10px #530202;
  padding: 0;
  width: 120px;
  height: 80px;
}

#hamburguer-icon {
  width: 40px;
  height: 40px;
}

#angulo-white {
  width: 15px;
  height: 15px;
}

#porcentagem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

#porc-icon {
  width: 20px;
  height: 20px;
}

#cover,
#garantia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cover img {
  margin: 210px 0 0 0;
  height: 400px;
  width: 1146px;
  border-radius: 20px;
  margin-bottom: 15px;
}

#garantia img {
  width: 1146px;
}

#card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 100px 0 100px;
}

.card-itens img {
  height: 200px;
  width: 350px;
}
